/*  
Styles for instructions, as part of WP-Book plugin
Based on acebok styles 

*/

html,body{
	margin: 0;
	padding: 0;
	background: #3B5998;
	text-align: center;
}

body {
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	font-size:13px;
	margin:10px;
	padding:0px;
	text-align:left;
}
#container{
margin-left: auto;
margin-right: auto;
width: 65em;
text-align: left;

}

blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}

h1 {
	font-size:25px;
	color:#333;
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	margin:0;
	margin-bottom:10px;
	
}

h2 {
	font-size:18px;
	color:#333;
	margin:0px;
	padding:0px;
}
h3, h4, h5{
	font-size:16px;
	color:#333;
	margin:0px;
	padding:0px;
}
a {
	color:#3b5998;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

img {
	border:2px solid #666666;
	margin-left: 10px;
}
img.logo {
	border:0px;

}

/*rounded corner code */
.rounded_corner_box {
   background: #ffffff;
}
.rounded_corner_top div {
   background: url(../images/layout/rounded_corner_tl.png) no-repeat top left;
}
.rounded_corner_top {
   background: url(../images/layout/rounded_corner_tr.png) no-repeat top right;
}
.rounded_corner_bottom div {
   background: url(../images/layout/rounded_corner_bl.png) no-repeat bottom left;
}
.rounded_corner_bottom {
   background: url(../images/layout/rounded_corner_br.png) no-repeat bottom right;
}

.rounded_corner_top div, .rounded_corner_top, 
.rounded_corner_bottom div, .rounded_corner_bottom {
   width: 100%;
   height: 50px;
   font-size: 1px;
}

.rounded_corner_content{ margin: 0 30px;background:#ffffff; }

